<body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <div class="magazine-card">
        <p>{{ magazine.title }}</p>
        {% for issue in magazine.issues.all %}
          <p>Issue: {{ issue.title }}</p>
        {% endfor %}
        <p>{{ magazine.description }}</p>
        <p>{{ magazine.release_cycle }}</p>
      </div>
    </main>
  </body>
  