{% load static %}

<!DOCTYPE html>
<html lang="en">

{% comment %} <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Book Details - Bookapps</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head> {% endcomment %}

<body>
    
    <main>
        <header>
            <nav>
                <a href="{% url 'show_magazines' %}">List of Magazines</a>
                <a href="{% url 'create_magazine' %}">Add a Magazine</a>
                <a href="{% url 'admin:index' %}">Admin Login</a> 
            </nav>
        </header>
            <div class="magazine-card">
                <img src= {{ magazine.cover }} width=300></img>
                    <p>{{ magazine.name }}</p>
                    {% for issue in magazine.issues.all %}
                        <p>Issue: {{ issue.title }}</p>
                    {% endfor %}
                    {% for genre in magazine.genres.all %}
                        <p>{{ genre.name }}</p>
                    {% endfor %}
                    <p>{{ magazine.description }}</p>
                    <p>{{ magazine.release_cycle }}</p>
                    <p><img src={{ magazine.cover }} width=300></p>
                    <li><a href="delete/"{{ post.id }}">Delete </a> </li>
                    {% comment %} <a href="{% url "delete_book" book.pk %}">
                        <button type= "Button">delete this book</button></a> {% endcomment %}
            </div>
    </main>

</body>

</html>


{% comment %} {% for magazine in genre.magazines.all %}
{% for genre in magazine.genres.all %} {% endcomment %}