<!DOCTYPE html>
<html lang="en">
{% comment %} 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head> {% endcomment %}

<body>
  <header>
    <nav>
        {% comment %} <a href="{% url 'show_magazines' %}">List of Magazines</a>
        <a href="{% url 'create_magazines' %}">Add a Magazine</a>
        <a href="{% url 'admin:index' %}">Admin Login</a> {% endcomment %}
    </nav>
  </header>
  <main>
    {% for magazine in magazines %}
      <div class="magazine-card">
        <p>{{ magazine.name }}</p>
        <p>{{ magazine.description }}</p>
        <p>{{ magazine.release_cycle }}</p>
        <p><img src={{ magazine.cover }} width=300></p>

          <ul>
            <li><a href={% url "mdetail" magazine.pk %} >Magazine Details {{ magazine.title }}</a></li>
          </ul>
      </div>
    {% endfor %}
  </main>
    <div id="sidebar">
      {% block sidebar %}
      <ul>
          <li><a href="/magazines/create">Add Magazine</a></li>
      </ul>
      {% endblock %}
    </div>
</body>

</html>
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}BOOOOOOOOKS{% endblock %}</title>
</head>

<body>
    <header>
        {{books}}
    </header>
        {%for book in books%}
            <div class="book-card">
                <p>{{ book.name }}</p>
                <p>{{ book.author }}</p>
                <p>{{ book.num_pages }}</p>
                <p>{{ book.isbn_num }}</p>
                <p><img src={{ book.cover }} width=300></p>
                <p>{{ book.inprint }}</p>
                <p>{{ book.publish_date }}</p>
        {% endfor %} 
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html> {% endcomment %}