

{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Book Details - Bookapps</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for detail in detail %}
        <div class="book-card">
            <img src= {{ book.cover }}>
                <a href="{% url "show_a_book" %}> {{ book.name }}</a>
                <p>{{ book.author }}</p>
                <p>{{ book.num_pages }}</p>
                <p>{{ book.isbn_num }}</p>
                <p>{{ book.cover }}</p>
                <p>{{ book.inprint }}</p>
                <p>{{ book.publish_date }}</p>
        </div>
    {% endfor %}
  </main>

</body>

</html> {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <body>
        <header>
            <header>
                <nav>
                    <a href="{% url 'show_magazines' %}">List of Magazines</a>
                    <a href="{% url 'create_magazine' %}">Add a Magazine</a>
                    <a href="{% url 'admin:index' %}">Admin Login</a> 
                </nav>
            </header>
        </header>
    </body>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main> 
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
     
            <!-- form as paragraph -->
            {{ form.as_p }}
     
            <input type="submit" value="Update">
        </form>
     
    </div>
  </main>
</body>

</html>