{% load static %}

<!DOCTYPE html>
<html lang="en">

{% comment %} <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Book Details - Bookapps</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head> {% endcomment %}

<body>
    
    <main>
        <header>
            <nav>
                <a href="{% url 'show_books' %}">List of Books</a>
                <a href="{% url 'create_book' %}">Add a Book</a>
                <a href="{% url 'admin:index' %}">Admin Login</a>
            </nav>
        </header>
            <div class="book-card">
                <img src= {{ book.cover }} width=300></img>
                    <p>{{ book.name }}</p>
                    <p>{{ book.author }}</p>
                    <p>{{ book.num_pages }}</p>
                    <p>{{ book.isbn_num }}</p>
                    <p>{{ book.inprint }}</p>
                    <p>{{ book.publish_date }}</p>
                    {% comment %} <a href="{% url "delete_book" book.pk %}">
                        <button type= "Button">delete this book</button></a>
            </div> {% endcomment %}
    </main>

</body>

</html>
